<%include partials/headerAdmin%>

<div class="container myCenter">
    <a class="btn btn-primary btn-lg" href="/adminPage/Arkornor/meals/new/meals">Meals</a>
    <a class="btn btn-primary btn-lg" href="/adminPage/Arkornor/meals/new/drinks">Drinks</a>
</div>

<%include partials/footer%>