<%include partials/headerAdminLynes%>

<div class="container center myCenter">
    <a class="btn btn-primary btn-lg" href="/adminPage/Lynes/meals/new/meals">Meals</a>
    <a class="btn btn-primary btn-lg" href="/adminPage/Lynes/meals/new/drinks">Drinks</a>
</div>

<%include partials/footer%>
