<% include partials/headerAdmin %>



<div class = "container">
    <h2>Add the Available Drinks</h2>
    <form action="/Arkornor/drinks" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">Drink Name</label>
        <input name="drinkName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the name of drink">
        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        <label for="exampleInputEmail1">Drink Price</label>
        <div class="input-group">
          <input type="text" name="price" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
          <div class="input-group-append">
            <span class="input-group-text">₵</span>
            <!--<span class="input-group-text">0.00</span>-->
          </div>
        </div>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>    
    
    <h2>Your Available drinks</h2>
    <p>Kindly delete the drinks that are no longer available</p>
   <% myDrinks.forEach(function(entry){%>
    <%var price = " "%>
        <%if(entry.price!=null){%>
        <%    price = "₵ "+entry.price; %>
        <% } %>
    
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= entry.mealName; %><span class="badge badge-primary badge-pill"><%= price%></span>
        <form action="/adminPage/Arkornor/drinks/<%=entry._id%>?_method=DELETE" method = "POST">
            <button  type="submit" class="btn btn-primary">Remove</button>    
        </form>
      </li>
    </ul>
<% }); %>
</div>



<% include partials/footer %>